:root
{
    --logo-font: 'Bebas Neue', sans-serif;

    --text-font: 'M PLUS Rounded 1c', sans-serif;
    
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
   
}
body
{
    min-height: 100vh;
    background: linear-gradient(120deg, #507DBC, #DAE3E5); 
}
main
{
    /* border: 2px solid orange; */
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

span
{
    font-style: bold;
    font-weight: 700;
}
sup
{
    color: #ea2c2c;
    font-size: 1.1rem;
}
.sect1
{
    /* border: 1px solid red; */
 
    width: 600px;
    background-image: url('imgs/graphic.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-sect
{
    background-color: rgba(163, 57, 255, 0.598);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-sect p
{
    font-family: var(--logo-font);
    font-size: 4rem;
    color: #f7f8fa;
}
.sect2
{
    
    width: 1200px;
    height: auto;
    font-family: var(--text-font);
    padding-left: 40px;
}
.sect-txt
{
    padding: 90px 120px 20px 0px;
    font-size: 1.1rem;
}
.sect-txt p:first-child
{
    margin-bottom: 30px;
}
form
{
    margin-bottom: 30px;
}
label
{
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 2px;
}
form h3
{
    margin: 20px 0;
    font-size: 1.3rem;
}
input,
button
{
    -webkit-appearance: none;
    appearance: none;
}

input
{
    width: 100%;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 8px;

}

input:focus
{
    border-color: rgba(119,132,140,1);
}


button
{
    width: 200px;
    padding: 10px 0px;
    border-width: 1px;
    border-radius: 10px;
    border-color: transparent;
    margin: 10px 0px;
    background-color: #ad74db;
    color:#f7f8fa;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}
button:hover
{
    background-color: #f7f8fa;
    color: #4f606e;
    box-shadow: 2px 2px 2px rgba(119,132,140,1);
}
.form-fields
{
    padding: 20px 0px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 2px 3px 3px #CACFD6;
}
.f-field
{
    width: 400px;
    padding: 5px;
}
.sect2 p
{
    font-size: 1.1rem;
}

@media screen and (max-width:769px) {
    main
    {
        flex-wrap: wrap;
    }
    .sect2
    {
        width: 100%;
        padding: 20px;
    }
    .sect-txt
    {
        padding: 20px 10px;
    }
    .form-fields
    {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .f-field
    {
        width: 100%;
    }
}